
name: seal_ci
on: [push, pull_request]
env:
  CI: true
  NODE: 12.x

jobs:
  seal_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: "${{ env.NODE }}"

      - name: Set up npm cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-v${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-v${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
            ${{ runner.OS }}-node-v${{ env.NODE }}-

      - name: Install npm dependencies
        run: npm ci

      - name: Build CSS
        run: npm run css
      
      - name: Run dist
        run: npm run js

      - name: Run JS tests
        run: npm run js-test

      - name: Run dist
        run: npm run dist

      - name: Build CSS with Dart Sass
        run: |
          npx --package sass@1.26.11 sass --version
          npx --package sass@1.26.11 sass --style expanded --source-map --embed-sources --no-error-css scss/:dist-sass/css/
          ls -Al dist-sass/css

      - name: create tar.gz
        run: |
          tar -czvf package.tgz scss/ js/ dist/ package.json README.md LICENSE
          mv package.tgz bootstrap-4.5.2-sp1.tgz

      - name: "Upload tgz files"
        uses: actions/upload-artifact@v4
        with:
          name: bootstrap-4.5.2-sp1
          path: "**/*.tgz"